*{
    margin: 0;
    font-size: 100%;
    outline: none;
    font-weight: 700;
    box-sizing: border-box;
    font-family: 'Press start 2p';
    color: white;
    text-shadow: 1px 1px 1px black;
}
body{
    background-color: yellow;
}
header{
    width: 100%;
    padding: 3% 4%;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;
    border-bottom: 1px solid white;
    font-size: 24pt;
}
/*---------------Ícones----------------- */
ul{
    list-style-type: none;
    clear: both;
    padding: 0;
}
li{
    margin-top: 15%;
}
img{width: 80px;}
.esq img:hover{
    transform: scale(1.25);
    border: 3px solid rgb(255, 94, 0);
    cursor: pointer;
}
/*---------------Esquerda----------------- */
main{
    float:left;
    padding: 3% 4%;
    text-align: center;
}
/*---------------Meio---------------- */
section{
    position: fixed;
    width: 100%;
    margin-top: 35%;
    text-align: center;
}
/*---------------Direita----------------- */
aside{
    float: right;
    padding: 3% 4%;
    text-align: center;
}
aside li{margin-top: 10%;}
/*---------------Resolução----------------- */
@media(min-width: 480px){
    section{
        margin-top: 25%;
   }
}
@media(min-width: 720px){
    section{
        margin-top: 15%;
   }
}