* {
	margin: 0;
	padding: 0;
	outline: none;
	font-weight: 800;
	box-sizing: border-box;
	font-family: 'Press Start 2P', sans-serif;
	color: white;
	text-shadow: 1px 1px black;
}

html {
	height: 100%;
}

body {
	background-color: #FFB6C1;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

/*---------------Cabecalho----------------- */


/*PLACAR E CABEÇALHO*/

header{
	width: 100%;
	background-color: #CC546688;
	padding: 10px 0;
}

header ul, li{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	font-size: 12px;
}

img{
	width: 100px;
}

ul{
	list-style: none;
}

/*CONTEÚDO JOGO*/

main{
	display: flex;
	flex:1;
	justify-content: space-around;
	align-items: center;
}

.middle{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 140px;
	width: 350px;
	text-align: center;
	border-radius: 30px;
	border: 2px solid #f9f9f9ee;
	transition: all .5s;	
}

.middle h3{
	font-size: 18px;
}

.middle p{ 
	font-size: 12px;
	padding-top: 10px;
	margin-top: 10px;
	border-top: 1px solid #ffffffaa;
}

.escolhas{
	text-align: center;
	font-size: 14px;
}

.escolhas img{
	margin-top: 30px;
	transition: .05s all;
	border-radius: 30px;
}

.escolhas #left img{
	cursor: pointer;
}

.escolhas #left img:hover{
	background: #FF697F88;
	transform: scale(1.1);
}

.material-icons{
	cursor: pointer;
	font-size: 30px;
}

.hide{
	opacity: 0;
}

/*RODAPÉ*/

footer{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #CC546688;
}

/* SCREEN  */

@media screen and (max-width:620px){
	header ul{
		height: 80px;
		flex-direction: column;
		justify-content: space-around;
	}

	main{
		margin: 10px 0;
		flex-direction: column;
	}

	.middle{
		background-color: #ff00b333;
		height: 120px;
		width: 250px;
	}

	main .escolhas ul{
		display: flex;
		flex-direction: row;
	}
}

