/*POINTER EVENTS = NONE MIZERA*/

* {
	margin: 0;
	padding: 0;
	outline: none;
	font-weight: 800;
	box-sizing: border-box;
	font-weight: 700;
	color: #f9f9f9;
}

html {
	height: 100%;
}

body {
	background-color: #FFB6C1;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

/*---------------Cabecalho----------------- */


/*PLACAR E CABEÇALHO*/

header{
	margin: 20px auto;
	width: 90%;
	background-color: #CC546688;
	height: 30px;
	border-radius: 30px;
	font-family: 'Press Start 2P', sans-serif;
	font-size: 14px;
}

header ul, header li{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	font-weight: bolder;
	height: 100%;
	color: #f9f9f9;
	text-shadow: 2px 1px #00000088;
}

header li{
	justify-content: center;
	padding-right: 20px;
	width: 100%;
}

header li.btn-reset{
	width: 10%;
}

header .material-icons{
	text-align: center;
	color: #f9f9f9;
	transition: 0.2s;
}

header .material-icons:hover{
	transform: scale(1.1);
}

img{
	width: 100px;
}

ul{
	list-style: none;
}

/*CONTEÚDO JOGO*/

main{
	display: flex;
	flex:1;
	justify-content: space-around;
	align-items: center;
}

.middle{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 140px;
	width: 300px;
	text-align: center;
	background-color:#FF697Faa;
	border-radius: 30px;
	transition: all .5s;	
}

.middle h3{
	font-size: 18px;
	font-family: 'Press Start 2P', sans-serif;
}

.middle p{ 
	padding-top: 10px;
	margin-top: 10px;
	border-top: 1px solid #ffffffaa;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	color:#F8EBFF;
}

.escolhas{
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	font-family: 'Press Start 2P', sans-serif;
	text-shadow: 2px 1px #000000aa;
}

.escolhas img{
	margin-top: 30px;
	transition: .05s all;
	border-radius: 30px;
}

.escolhas #left img{
	cursor: pointer;
}

.escolhas #left img:hover{
	background: #FF697F88;
	transform: scale(1.1);
}

.material-icons{
	cursor: pointer;
}

.hide{
	opacity: 0;
}

/*Rodapé*/

footer{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: 10px 0;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
}

footer p{
	text-decoration: none;
	transition: 0.2s;
	font-size: 16px;
	border-radius: 10px;
	font-weight: bold;
}

footer p:hover{
	transform: scale(1.05);
}

footer a{
	color:#000000aa;
}

footer a:link{
	text-decoration: none;
}

footer .material-icons{
	font-size: 24px;
}

/*MOBILE*/

@media screen and (max-width:620px){
	header{
		height: 100%;
	}

	header ul{
		flex-direction: column;
	}

	header li{
		margin-top: 10px;
	}

	main{
		flex-direction: column;
	}

	.middle{
		background-color: #ff00b333;
		height: 100px;
		width: 250px;
		margin: 20px;
	}

	main .escolhas ul{
		width: 100vw;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	main .escolhas{
		font-size: 12px;
	}

	footer{
		display: none;
	}
}

